.sponser {
  border: 1px solid black;
  height: 3em;
  width: 8em;
}
header {
  background-color: #759794;
}

.tussenboord {
  background-color: #b4a890;
  height: 5em;
}
.tussenboord2 {
  background-color: #7c7567;
  height: 2em;
}
.principal {
  background-color: #9b9382;
}

@media only screen and (max-device-width: 768px) {
  .tussenboord {
    height: 2em;
  }
  .tussenboord2 {
    height: 1em;
  }
}
